

/*---------- Global Style ----------*/

body {
    color: #222;
    font-family: 'Fauna One', serif;
    font-size: 17px;
    line-height: 1.8!important;
}
html {
    overflow-x: hidden;
}

p {
    font-family: 'Fauna One', serif;
    font-weight: 300;
    margin-top: 1px;
}
p,
ul,
li {
    color: #666;
}
section {
    padding-top: 185px;
    padding-bottom: 185px;
}
.no-gutter {
    padding-right: 0;
    padding-left: 0;
}
a,
a:link {
    color: #666;
}
a:hover,
a:focus,
a:visited {
    color: #666;
    text-decoration: none;
}

/* simple is beautiful */
.vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transform: translateY(-50%);
    transform: translateY(-50%);
}
.fill {
    height: 100vh;
}

.writing {
    margin-top: 4.5em;
}

/*---------- Navbar ----------*/

.nav {
    position: relative;
    width: auto;
    display: inline-block;
    border: none;
    float: right;
    z-index: 99999;
}
.navbar-fixed-top {
    padding-top: 10px;
}
.navbar-brand {
    padding-top: 25px;
}
.navbar-brand > img {
    max-width: 127px;
    z-index: 9999;
}
@media (max-width: 768px) {
    .navbar-brand {
        padding-left: 0px;
    }
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default.color-fill {
    background-color: #fff;
    border-color: transparent;
}
.btn-nav {
    background: transparent;
    border: none;
    padding: 15px;
  transition: all .5s ease;
    transition: all .5s ease;
    transition: all .5s ease;
    transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    z-index: 99999;
}
@media (max-width: 768px) {
    .btn-nav {
        padding: 15px 0;
    }
}
.btn-nav:focus {
    outline: 0;
}
.icon-bar {
    display: block;
    margin: 6px 0;
    width: 30px;
    height: 3px;
    background-color: #222;
}
.icon-bar.inverted {
    background-color: #fff;
}
@media (max-width: 992px) {
    .icon-bar.inverted {
        background-color: #222;
    }
}
.opaque {
    background-color: #fff!important;
}
.btn-nav:hover .icon-bar {
    transition: all 1s ease;
    transition: all 1s ease;
  transition: all 1s ease;
  transition: all 1s ease;
    transition: all 1s ease;
    background-color: #555;
}
.nav-content {
    position: fixed;
    top: -100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 1);
    display: block;
    height: 100%;
    z-index: 9;
}
.nav-list {
    list-style: none;
    padding: 0;
    position: relative;
}
.item-anchor {
    color: #fff;
    font-size: 30px;
    font-weight: 100;
    position: relative;
    text-decoration: none;
    padding: 10px;
}
.item-anchor:hover,
.item-anchor:focus {
    color: #ffffff;
  transition: all 1s ease;
    transition: all 1s ease;
    transition: all 1s ease;
    transition: all 1s ease;
    transition: all 1s ease;
}

.nav-item {
    font-family: 'Open Sans', sans-serif;
    margin: 10px auto;
    text-align: center;
    color: #222;
}
.nav-item a:link,
.nav-item a:hover,
.nav-item a:focus {
    color: #222;
}
.nav-item a:hover,
.nav-item a:focus {
    border-bottom: 2px solid #222;
}
.animated {
    display: block;
    margin: 0 auto;
}
.animated:hover .icon-bar,
.animated:focus .icon-bar {
    background-color: #fff;
}
.animated:focus {
    cursor: pointer;
    z-index: 9999;
}
.middle {
    margin: 0 auto;
}
.icon-bar {
  transition: all .7s ease;
transition: all .7s ease;
transition: all .7s ease;
  transition: all .7s ease;
    transition: all .7s ease;
    z-index: 999999;
}
.animated .icon-bar {
    z-index: 999999;
    background-color: #222!important;
}


@keyframes showNav {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
}
@-webkit-keyframes showNav {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
}
@-moz-keyframes showNav {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
}
@-o-keyframes showNav {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
}
.showNav {
animation: showNav 1s ease forwards;
animation: showNav 1s ease forwards;
animation: showNav 1s ease forwards;
}
@keyframes hideNav {
    from {
        top: 0;
    }
    to {
        top: -100%;
    }
}
@-webkit-keyframes hideNav {
    from {
        top: 0;
    }
    to {
        top: -100%;
    }
}
@-moz-keyframes hideNav {
    from {
        top: 0;
    }
    to {
        top: -100%;
    }
}
@-o-keyframes hideNav {
    from {
        top: 0;
    }
    to {
        top: -100%;
    }
}
.hideNav {
  animation: hideNav 1s ease forwards;
  animation: hideNav 1s ease forwards;
  animation: hideNav 1s ease forwards;
}
.hidden {
    display: none;
}
